<html>
<head>
<title>Green Leaves</title>
</head>
<body>
    <div class="container mt-3">
        <div class="row mt-3">
            <div class="col-7 offset-2">
                <div class="titlebox">
                    <div class="row">
                        <div class="col"><h1>Green Leaves</h1></div>
                        <div class="col"><div class="leaf"></div></div>
                    </div>
                </div>
            </div>
        </div> 
           <div class="mt-3" id="fo">
            <form>
                <div class="form-group row">
                    <label for="nombre">Nombre:</label>
                    <div class="col-7">
                        <input [(ngModel)]="nombre" class="form-control" type="text" name="nombre" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombre"> E-mail:</label>
                    <div class="col-7">
                      <input type="text" [(ngModel)]="email" class="form-control" name="email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="">Teléfono:</label>
                    <div class="col-7">
                        <input type="text" [(ngModel)]="telefono" class="form-control" name="telefono" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="">Fecha:</label>
                    <div class="input-group col-5">
                        <input class="form-control" [(ngModel)]="model" #ctrl="ngModel" required  placeholder="dd-mm-yyyy"
                               name="dp"  ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
  
                <div class="form-group row">
                    <label for=""></label>
                    <div class="col-7">
                        <fieldset class="form-inline">
                            <div class="form-group">
                              <label for="typeahead-http">Ciudad y Estado:</label>
                              <input id="typeahead-http" [(ngModel)]="model1" name="model1"  type="text" class="form-control mx-sm-3" [class.is-invalid]="searchFailed"  [ngbTypeahead]="search" />
                              <small *ngIf="searching" class="form-text text-muted">searching...</small>
                              <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                            </div>
                          </fieldset>
                        {{model1}}
                    </div>
                </div>
         
                <input type="button" value="Enviar" (click)="open(content)" />
            </form>
           </div>
           <div class="mt-3" id="msj" style="display: none;">
                <h2>Estimado <b>{{nombre}}</b>,</h2>
                <br>
                Hemos recibido sus datos y nos pondremos en contacto con usted en la
                brevedad posible. Enviaremos un correo con información a su cuenta:
                {{email}}.
                <br>
                <div style="text-align: right;">
                    Atte.
                    <span style="font-weight: bold; color: olivedrab;">Green Leaves</span>
                   {{model1}} a {{model}}
                </div>
 
            </div>

    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Contacto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <p>Se encontraron los siguientes errores en sus datos de contacto:</p>
            <br>
            <ul type=”A”>
                <li>{{Result.nombre}}</li>
                <li>{{Result.email}}</li>
                <li>{{Result.telefono}}</li>
                <li> {{Result.fecha}}</li>
                <li>{{Result.ciudad}}</li>
            </ul>
            <br>
            <p>por favor corriga los errores para continuar </p>
            
        </div>
        <div class="modal-footer align-items-center" >
            <div class="col text-center">
                <button type="button "  class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
         
        </div>
      </ng-template>
</body>
</html>
